{% extends "AppCoder/padre.html" %}
{% load static %}

        {% block contenidoQueCambia %}
            <h1 class="mb-1">Editar Profesor</h1>
        
            {% if miFormulario.errors %}
            <p>Error!</p>
            {% endif %}

            <form action="" method="POST">{% csrf_token %}
              
                <table>
                {{ miFormulario.as_table }}
                </table>
                <input type="submit" value="Editar">
            </form>

        {% endblock %}

        